* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background-color: #746c6c;

}
.preview{
  width: 300px;
  height: 250px;

}
.popup{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 199;
  background-color: rgba(0, 0, 0, 0.5);
}
.wrapper {
  width: 90%;
  margin: 5%;
  background-color: #f3f7f7;
  overflow: hidden;
  position: relative;

}

.wrapper p {
  font-size: 1.5em;
}

.wrapper h3 {
  font-size: 2em;
}

.wrapper h1 {
  font-size: 3em;
}

.header {
  width: 100%;
  height: 60px;

  display: flex;

  flex-direction: row;

  justify-content: space-evenly;

  align-items: center;
  position: relative;
}

.header__button {
  width: 50px;
  display: none;
  left: 80%;
}

.header__button div {
  margin-bottom: 4px;
  width: 100%;
  height: 5px;
  background-color: #8a7e7e;

  transform: rotate(0deg);
}

.header__logo {
  font-size: 2em;
  color: #3a3636;
  position: absolute;
  top: 0;
  left: 5%;
}

.header__nav {

  display: flex;

  flex-direction: row;
  justify-content: space-around;

  align-items: center;
  position: absolute;
  width: 71%;
}

.header__nav a {
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  color: #8a7e7e;
  font-size: 1.5em;
}

.header__form {
  position: relative;
  width: 100px;
  margin-right: -80%;
  height: 42px;
}

.header__form input {
  height: 95%;
  width: 0;
  padding: 0 42px 0 15px;
  border: 0;
  outline: 0;
  background: 0 0;
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.header__form input:focus {
  width: 200px;
  z-index: 1;
  background-color: #f3f7f7;
  border-bottom: 2px solid #bdb9ae;
}

.header__form button {
  background: #f3f7f7;
  border: 0;
  height: 100%;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.header__form button:before {
  font-size: 1em;
  color: #f3f7f7;
}

.short-description,
.short-description__buttons {

  display: flex;
}

.short-description {
  position: relative;
  background-image: url(https://images.pexels.com/photos/1024248/pexels-photo-1024248.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-position: center center;
background-repeat: no-repeat;
background-size: cover;
  flex-direction: column;

  align-items: center;
  padding-top: 2%;
  color: #f3f7f7;
  text-align: center;
}

.short-description:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.644);
}

.short-description h1,
.short-description p {
  z-index: 9;
}

.short-description h1 {
  padding-top: 1%;
}

.short-description p {
  font-size: 1em;
  padding-bottom: 3%;
}

.short-description__buttons {
  width: 35%;
  z-index: 9;

  justify-content: space-evenly;
}

.short-description__buttons input:hover {
  background-color: #0e9e92;
  border: #0e9e92;
}

.short-description__buttons input {
  border: 1px solid #fff;
  background-color: transparent;
  color: #f3f7f7;
  padding: 2%;
  margin: 16% 0 14%;
  font-size: 1.3em;
}

.wrapper .head3 {
  color: #3a3636;
  text-align: center;
  font-size: 2em;
  padding-top: 5%;
}

#blog {
  align-self: center;
}

.parag {
  color: #8a7e7e;
  text-align: center;
  font-size: 1.2em;
  padding: 2% 19% 3%;
}

.about-us,
.about-us__items {

  display: flex;

}

.about-us {

  flex-direction: column;

  align-items: center;
  padding: 5%;
}

.about-us h2,
.about-us h5 {
  color: #3a3636;
}

.about-us h5 {
  padding: 5% 0;
  font-size: 1.2em;
}

.about-us__items {

  flex-direction: row;

  justify-content: space-evenly;
}

.about-us__items__item {
  width: 30%;

  flex-direction: column;

  align-items: center;
}

.about-us__items__item img {
  width: 30%;
  height: 30%;
}

.about-us__items__item p {
  text-align: center;
  width: 60%;
}

.about-us__items__item,
.services,
.services__items {

  display: flex;

}

.services {
  background-color: #d0f1f5;

  flex-direction: column;

  align-items: center;
  padding-bottom: 5%;
}

.services__items {

  flex-direction: row;

  justify-content: space-evenly;

  flex-wrap: wrap;
  width: 90%;
}

.services__items p {
  text-align: center;
  width: 70%;
}

.services__items> :first-child {
  background-color: #0e9e92;
  color: #f3f7f7;
  box-shadow: 0 0 10px rgba(83, 82, 82, 0.5);
}

.services__items> :first-child p {
  color: #f3f7f7;
}

.services__items> :first-child a {
  font-size: 1em;
  display: block;
  border: 1px solid #fff;
  background-color: transparent;
  color: #f3f7f7;
  margin: 10%;
}

.services__items__card {
  flex-direction: column;
  align-items: center;
  background-color: #f3f7f7;
  width: 27%;
  margin-bottom: 2%;
}

.services__items__card:hover {
  background-color: #0e9e92;
  color: #fff;
  box-shadow: 0 0 10px rgba(83, 82, 82, 0.5);
}

.services__items__card:hover p {
  color: #f3f7f7;
}

.services__items__card:hover a {
  font-size: 1em;
  display: block;
  border: 1px solid #f3f7f7;
  background-color: transparent;
  color: #f3f7f7;
  margin: 20% 10% 20% 10%;
}

.services__items__card img {
  width: 15%;
  margin: 10%;
}

.latest-works__link a,
.services__items__card a {
  
  text-decoration: none;
  cursor: pointer;
  font-size: 100%;
  background-color: transparent;
  color: #3a3636;
  padding: 1.5%;
  text-align: center;
  margin: 20% 10% 20% 10%;
}

.services__items__card a {

  border: 1px solid #3a3636;
}

.latest-works__link a :active,
.pricing-plan__items__card a :active,
.services__items__card a :active,
.team-member__items__band__card a :active {
  background-color: #0e9e92;
  color: #f3f7f7;
}

.latest-works,
.latest-works__link,
.services__items__card {

  display: flex;
}

.latest-works {
  flex-direction: column;
  align-items: center;
}

.latest-works__link {
  width: 50%;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 5%;
}

.latest-works__link a {
  display: inline-block;
  margin: 1%;
  padding: 1% 2% 1% 2%;
  border: 1px solid #0e9e92;
}

.latest-works__link a:hover {
  background-color: #0e9e92;
  border: 1px solid #f3f7f7;
  color: #f3f7f7;
  text-decoration: none;
  text-align: center;
}

.latest-works__link a:first-child {
  background-color: #0e9e92;
  border: 1px solid #f3f7f7;
  color: #f3f7f7;
  text-decoration: none;
  text-align: center;
}

.up {
  position: fixed;
  top: 70vh;
  left: 88%;
}

.up {
  font-size: 2em;

}

.latest-works__img {
  width: 80%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
  margin-left: auto;
  margin-right: auto;
}
.latest-works__img a {
  width: 30%;
margin-bottom: 20px;
}
.latest-works__img .preview{
  width: 100%;
  height: 100%;
  filter: brightness(90%);
}


.latest-works__img .preview:hover {
  filter: brightness(40%);
}



.greenButton {
  padding: 1%;
  background-color: #0e9e92;
  border: 1px solid #f3f7f7;
  color: #f3f7f7;
  text-decoration: none;
  text-align: center;
  margin: 3% 33% 2% 33%;
  text-transform: uppercase;
}

.viewAll {
  width: 30vh;
}

.pricing-plan,
.pricing-plan__items {

  display: flex;
}

.pricing-plan {
  background-color: #c8d5d6;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
}

.pricing-plan__items {

  flex-direction: row;

  justify-content: space-evenly;

  flex-wrap: wrap;
  width: 90%;
}

.pricing-plan__items p {
  text-align: center;
  border-bottom: 1px solid rgba(83, 82, 82, 0.5);
  z-index: 99;
  padding-top: 12%;
  padding-bottom: 2%;
}

.pricing-plan__items p:first-child {
  margin-top: 3%;
}

.pricing-plan__items h2,
.pricing-plan__items h3 {
  padding: 7%;
  z-index: 99;
  color: #f3f7f7;
}

.pricing-plan__items__card {

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f7f7;
  width: 27%;
  height: 80%;
  margin-bottom: 2%;
  position: relative;
  overflow: hidden;
}

.pricing-plan__items__card:hover {
  box-shadow: 0 12px 10px rgba(10, 9, 9, 0.5);
}

.pricing-plan__items__card:hover a {
  font-size: 100%;
  display: block;
  border: 1px solid #f3f7f7;
  background-color: #0e9e92;
  color: #f3f7f7;
  margin: 10%;
}

.pricing-plan__items__card:nth-child(2) {
  box-shadow: 0 12px 10px rgba(10, 9, 9, 0.5);
}

.pricing-plan__items__card:nth-child(2) a {
  font-size: 100%;
  display: block;
  border: 1px solid #f3f7f7;
  background-color: #0e9e92;
  color: #f3f7f7;
  margin: 10%;
}

.pricing-plan__items__card img {
  width: 15%;
  margin: 10%;
}

.pricing-plan__items__card a,
.team-member__items__band__card a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  font-size: 100%;
  margin: 10%;
  border: 1px solid #3a3636;
  background-color: transparent;
  color: #3a3636;
  padding: 1.5%;
  text-align: center;
}

.sup {
  vertical-align: super;
}

.sub {
  vertical-align: sub;
}

.purple-top {
  top: -70%;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #4c17c7;
  transform: skew(0deg, -15deg);
}

.team-member,
.team-member .nextSlide,
.team-member .prevewSlide {

  display: flex;
  align-items: center;
}

.team-member {
  position: relative;
  flex-direction: column;

}

.team-member h5,
.team-member h6 {
  padding-top: 15px;
  font-size: medium;
  color: #3a3636;
}

.team-member h6 {
  color: gray;
}

.nextSlide,
.prevewSlide {
  position: absolute;
  bottom: 10%;
  width: 50px;
  height: 50px;
  background-color: #0e9e92;
  border-radius: 50%;
  justify-content: center;
  font-weight: 900;
  font-size: 2em;
  color: #f3f7f7;

}

.prevewSlide {
  left: 3%;
  display: block;
}

.nextSlide {
  right: 3%;
  display: block;
}

.team-member p {
  text-align: center;
  z-index: 99;
  padding-bottom: 2%;
}

.team-member h2,
.team-member h3 {
  z-index: 99;
  color: #3d3939;
}

.team-member__items {
  height: 500px;
  position: relative;
  overflow: hidden;
  width: 80%;
}

.team-member__items__band {
  transform: translateX(0);
  width: 180%;
  height: 100%;
  position: absolute;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: 2s;
}

.social-icons,
.team-member__items__band,
.team-member__items__band__card {

  display: flex;
}

.team-member__items__band__card {
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 400px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 5%;
}

.team-member__items__band__card img {
  width: 100%;
  height: 50%;
}

.social-icons {
  z-index: 99;
  width: 80%;
  height: 15%;
  padding-top: 10%;
  flex-direction: row;
  justify-content: space-evenly;
}

.social-icons__items {
  cursor: pointer;
  position: relative;
  width: 70%;
  height: 70%;
  background-repeat: no-repeat;
  background-size: contain;
}

.facebook {
  background-image: url(icons/facebook.png);
}

.facebook:hover {
  background-image: url(icons/bluefacebook.png);
}

.twitter {
  background-image: url(icons/twitter.png);
}

.twitter:hover {
  background-image: url(icons/bluetwitter.png);
}

.whatsUp {
  background-image: url(icons/Whatsapp.png);
}

.whatsUp:hover {
  background-image: url(icons/WhatsappBlue.png);
}

.icq {
  background-image: url(icons/bico-icq.png);
}

.icq:hover {
  background-image: url(icons/blueicq.png);
}

.active {
  background-image: url(icons/bluefacebook.png);
}

.firstDot,
.secondDot {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  bottom: 10%;
}

.firstDot {
  left: 45%;
  background-image: url(icons/dot.png);
}

.secondDot {
  left: 50%;
  background-image: url(icons/dot-2.png);
}

.blog {
  background-color: #d0f1f5;

  display: flex;
  flex-direction: column;
}



.blog__content {
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;


}

.blog__content a {
  font-size: 1.5em;
  margin-bottom: 2%;

}

.blog__content .hover {
  color: #0e9e92;
}

.blog__content a:hover {
  color: #0e9e92;
}

.blog__content__text {
  margin-left: 5%;
  width: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;

  align-items: flex-start;
  opacity: 0.7;
}

.blog__content__text h4 {
  margin-bottom: 25px;
}

.blog__content__text p {
  margin-bottom: 25px;
}

.blog__content .picture {
  width: 100%;
}

.blog__content p img {
  width: 20px;
  height: 20px;
}

.seo {
  grid-row: 1;
  grid-column: 1;
}

.blogTextSeo {
  grid-row: 1;
  grid-column: 2;
}

.monitor {
  grid-row: 2;
  grid-column: 2;
}

.blogTextMonitor {
  grid-row: 2;
  grid-column: 1;
}

.contact-us {
  background-color: black;
  color: #f3f7f7;

  display: flex;

  flex-direction: column;

  align-items: center;
  width: 100%;
}

.contact-us .head3 {
  color: #f3f7f7;
}

.contact-us__items {
  width: 80%;
  margin: 0 auto;

  display: flex;

  flex-direction: row;

  justify-content: space-around;

  align-self: center;
}

.contact-us__items__item {

  display: flex;

  flex-direction: column;
  width: 30%;
}

.contact-us__items__item p {

  align-self: center;
}

.contact-us__items__item img {

  align-self: center;
  width: 50%;
  height: 50%;
  margin-bottom: 20px;
}

.contact-us__form {
  width: 70%;
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.contact-us__form input {
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
}

.contact-us__form textarea {
  border-radius: 5px;
  font-size: 1em;
}

.contact-us__form [name="YourName"] {
  grid-column: 1;
  grid-row: 1;
  margin: 20px 10px 20px 0px;
}

.contact-us__form [name="YourEMAIL"] {
  grid-column: 2;
  grid-row: 1;
  margin: 20px 0px 20px 10px;
}

.contact-us__form [name="Message"] {
  padding: 10px;

  grid-column: 1/ span 2;

  grid-row: 2;
}

.contact-us__form [type="submit"] {
  font-size: 1em;
  margin: 10% 0% 10% 60%;
  text-transform: uppercase;
  grid-column: 2;

  grid-row: 3;

  align-self: flex-end;
}

.copyright {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f3f7f7;
}

.copyright p {

  text-align: center;
}

@media (max-width: 900px) {
  .wrapper p {
    font-size: 1em;
  }

  .wrapper .head3 {
    font-size: 1.3em;
    text-align: center;
    padding-top: 10%;

  }

  .header__button {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 30%;
    z-index: 99;
  }

  .about-us__items,
  .header__nav,
  .short-description__buttons {

    flex-direction: column;
  }

  .header__nav {
    width: 90%;
    background: #0e9e92;
    top: 1%;
    right: -100%;
    z-index: 98;
    position: absolute;
    display: flex;

    transition: 1s;
  }

  .header__form {
    margin-right: 0%;
  }

  .header__nav a {
    display: block;
    padding: 10px;
  }

  .short-description h1 {
    padding-top: 0;
  }

  .about-us__items,
  .short-description__buttons {
    width: 50%;
  }

  .short-description__buttons input {
    padding: 9px;
    margin: 5px;
  }

  .about-us h5,
  .services__items p {
    padding: 0;
  }

  .about-us__items {
    width: 100%;
  }

  .about-us__items__item {
    width: 100%;
  }

  .about-us__items__item img {
    width: 10%;
    height: 10%
  }

  .services__items {

    flex-direction: column;

    align-items: center;
  }

  .services__items__card {
    width: 90%;
    padding: 10px;
    flex-direction: column;
    justify-content: space-around;
  }

  .services__items__card img {
    margin: 10px;
  }

  .latest-works__link {

    flex-direction: column;

    width: 80%;

    justify-content: space-evenly;
    padding-bottom: 5%;


  }

  .latest-works__img {
    width: 80%;
  }
  .latest-works__img a{
    width: 80%;
    margin: 0 auto ;
  }
  .latest-works__img .preview {
    width: 90%;
    height: 90%;
    /* margin-bottom: 10px; */
  }

  .pricing-plan__items {

    flex-direction: column;
  }

  .pricing-plan__items__card {
    width: 90%;

    align-self: center;
  }

  .pricing-plan__items__card p,
  h3 {
    width: 90%;
    font-size: 1em;
  }

  .purple-top {
    top: -65%;

  }

  .team-member__items {
    width: 90%;
    height: 450px;
    overflow-x: scroll;
  }

  .team-member__items__band {
    width: 1600px;
    margin-left: 10px;
  }

  .team-member__items__band__card {
    width: 370px;
  }

  .team-member__items__band__card img {
    width: 100%;
    margin-right: 10px;
  }

  .nextSlide,
  .prevewSlide {
    display: none !important;
  }

  .firstDot,
  .secondDot {
    display: none !important;
  }

  .header__nav a {
    color: #f3f7f7;
  }

  .blog {
    background-color: #d0f1f5;
  }


  .blog__content {
    width: 80%;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr !important;
    grid-gap: 5px !important;
  }

  .blog__content__text {
    margin-left: 5%;
    width: 95%;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: flex-start;
    opacity: 0.7;
  }

  .blog__content__text h4 {
    margin-bottom: 25px;
  }

  .blog__content__text p {
    margin-bottom: 25px;
  }

  .blog__content .picture {
    width: 100%;
  }

  .seo {
    grid-row: 1;
    grid-column: 1;
  }

  .blogTextSeo {
    grid-row: 2 !important;
    grid-column: 1 !important;
  }

  .monitor {
    grid-row: 3 !important;
    grid-column: 1 !important;
  }

  .blogTextMonitor {
    grid-row: 4 !important;
    grid-column: 1 !important;
  }

  .keyboard {
    grid-row: 5 !important;
    grid-column: 1 !important;
  }

  .blogTextKeyboard {
    grid-row: 6 !important;
    grid-column: 1 !important;
  }

  .contact-us .head3 {
    color: #f3f7f7;
  }

  .contact-us__items {
    flex-direction: column;
    margin-left: 10%;
  }

  .contact-us__form {
    width: 80%;
    margin-top: 10%;

    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr 2fr 1fr;
  }

  .contact-us__items__item {
    flex-direction: column;
    margin-left: 30%;

  }

  .contact-us__items__item img {
    width: 50%;
    height: 50%;
  }

  .contact-us__form input {
    border-radius: 5px;
    padding: 10px;
  }

  .contact-us__form textarea {
    border-radius: 5px;
  }

  .contact-us__form [name="YourName"] {
    grid-column: 1;
    grid-row: 1;
    margin: 0px 20px 10px 0px;
  }

  .contact-us__form [name="YourEMAIL"] {
    grid-column: 1;
    grid-row: 2;
    margin: 0px 20px 10px 0px;
  }

  .contact-us__form [name="Message"] {
    padding: 10px;
    grid-column: 1;
    grid-row: 3;
    margin: 0px 20px 10px 0px;
  }

  .contact-us__form [type="submit"] {
    margin: 10% 10% 10% 2%;
    grid-column: 1;
    grid-row: 4;
    align-self: flex-end;
  }

  .copyright p {

    text-align: center;
  }

  .up {
    position: fixed;
    top: 60vh;
    left: 72%;
  }



}
